body {
    padding: 0;
    margin: 0;
    background-color: #E4E8F6;
    overflow-x: hidden;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 15px;
    row-gap: 10px;
    background-color: #5190e9;
    padding: 30px 0 30px;
}


.link {
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px 25px;
    font-size: 25px;
}

h1, h2, h3, h4 {
    font-family: 'Raleway', sans-serif;
}

.container-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.heading {
    text-align: center;
    margin-top: 20px;
}

.heading img {
    width: 350px;
    border-radius: 10px;
    box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
}

.btnSlides {
    display: flex;
    justify-content: center;
}

.btn_left {
    cursor: pointer;
    border: 20px solid transparent; 
    border-right: 20px solid #5792EA;
    margin-right: 20px;
    margin-top: 50px;
    height: 20px;
    background-color: #E4E8F6;
} 

.btn_right {
    cursor: pointer;
    border: 20px solid transparent; 
    border-left: 20px solid #5792EA;
    margin-left: 20px;
    margin-top: 50px;
    height: 20px;
    background-color: #E4E8F6;
}

.rightBtn {
    background-color: #E4E8F6;
	border-right: 0;
	border-top: 10px solid transparent;
	border-left: 20px solid #5792EA;
	border-bottom: 10px solid transparent;
}

.title {
    font-family: 'Raleway', sans-serif;
}

.popular {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 15px;
    column-gap: 10px;
}

.popular_img {
    margin-left: 10px;
}

.btn {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 15px;
}

.btn_item {
    background-color: #5792EA;
    border: none;
    border-radius: 5px;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    padding: 15px;
    cursor: pointer;
}

.products {
    display: flex;
    flex-wrap: wrap;
}

.product_card {
    padding: 2%;
    flex-grow: 1;
    flex-basis: 16%;
}

.product_img {
    display: flex;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
}

.show {
    cursor: pointer;
    background: #E4E8F6;
    border: none;
    font-size: 16px;
    color: #5792EA;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.barsik {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.barsik-img {
    width: 300px;
    border-radius: 10px;
    box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
}

.about {
    margin-right: 30px;
    font-family: 'Raleway', sans-serif;
}

.about_text {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.contact {
    display: flex;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 10px;
}

.form_container {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

label {
    font-family: 'Raleway', sans-serif;
    margin-top: 50px;
}

.input_mail {
    padding: 10px 70px;
}

.input_text {
    padding: 50px 100px;
}

.btn_form {
    font-family: 'Raleway', sans-serif;
    width: 50%;
    margin-top: 30px;
    padding: 15px;
    background-color: #5792EA;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.answer {
    margin-top: 200px;
}